<style type="text/css" media="screen">
.rightCon h1{
  margin: 50px 50px 0;
  padding-bottom: 40px;
}
.rightCon ul{
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
}
.rightCon ul:nth-last-of-type(1){
  padding: 20px 0;
}
.rightCon ul:nth-of-type(1){
  border-top: 1px solid lightgray;
}
.rightCon ul .headImg{
  width: 40px;
  height: 40px;
}
.rightCon ul li:nth-last-child(1),.rightCon ul li:nth-last-child(2){
  color: lightgray;
}
.ctrl-p{
  float: left !important;
  width: 100% !important;
  display: block;
  padding-top: 20px 0 !important;
}
</style>
<section>
  <h1>兑奖</h1>
  <ul class="am-g ctrl-p">
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">头像</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">昵称</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">礼品</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">消耗积分</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">兑换时间</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">备注</li>
  </ul>
  <ul class="am-g ctrl-p" ng-repeat="item in list">
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2"><img class="headImg" ng-src="{{item.user_photo}}" alt=""></li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">{{item.nick_name}}</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">{{item.coupons_title}}</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">{{item.coupons_need_score}}</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2">{{item.create_time}}</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2" ng-if="item.receiver_username" style="font-size:15px">姓名：{{item.receiver_username}}</br>电话：{{item.receiver_tel}}</br>地址：{{item.receiver_addr}}</li>
    <li class="am-u-sm-2 am-u-md-2 am-u-lg-2" ng-if="!item.receiver_username" style="font-size:15px">优惠券</li>
  </ul>
  <!-- </div> -->
</section>
