<div id="progress_box">
    <p id="upload_progress"></p>
    <p id="upload_progress_bg"></p>
</div>
<br>
<div class="addFiles"></div>
<br>
<span style="font-size:14px;">
    <div id="uploader-demo">
        <!--用来存放item-->
        <div id="thelist" class="uploader-list">
        </div>
        <div>
            <div id="filePicker">选择图片</div>
            <button id="uploadBtn" class="rex-btn success">开始上传</button>
            <button id="cancelBtn" class="rex-btn error">取消上传</button>
        </div>
    </div>
</span>

